{% extends 'houses/base.html' %}
{% load static %}
{% block title %}О Компании{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-left" style="padding-top: 40px;">О Компании</h2>
    <div class="row align-items-start">
        <!-- Картинка (занимает 2/3 ширины) -->
        <div class="col-md-8">
            <img src="{% static 'images/logol.jpg' %}" class="img-fluid" alt="Логотип компании" style="max-height: 900px; width: auto;">
        </div>

        <!-- Блок Telegram (занимает 1/3 ширины) -->
        <div class="col-md-4 pl-md-4">
            <div class="p-4" style="background-color: #F5F5F5; border-radius: 8px; height: 100%;">
                <h3 class="mb-3" style="padding-bottom: 20px;">Написать нам в <br> Telegram</h3>
                <a href="https://t.me/+79268438363" target="_blank" class="d-flex align-items-center text-decoration-none" style="color: #333;">
                    <img src="{% static 'images/telegram.png' %}" alt="Telegram" style="height: 50px; margin-right: 15px;">
                    <span style="font-size: 1.3rem; font-weight: 500;">Telegram</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Текст о компании -->
    <div class="row" style="padding-top: 40px;">
        <div class="col-md-8"> <!-- Та же ширина, что и у картинки -->
            <p style="text-align: justify; font-size: 1.2rem; line-height: 1.6;">
                Компания оказывает весь спектр услуг по продаже земельных участков по Каширскому шоссе от лица их
                владельцев - начиная с решения вопросов, связанных с концепцией и раскруткой, вплоть до подготовки
                пакета необходимых документов и передачи активов покупателю.
                <br><br>
                В составе земельного портфеля земля под дачное и индивидуальное жилищное строительство, участки для
                предпринимательской деятельности (сельскохозяйственной, торговой, возведения производственных помещений
                и складов, строительства жилья) и частных владений. Наша компания специализируется на предоставлении
                качественных услуг по оформлению сделок с земельными участками под ключ для как физических, так и
                юридических лиц.
                <br><br>
                Мы обеспечиваем клиентов полным сопровождением на всех этапах сделки, включая профессиональные
                консультации и юридическое оформление всех необходимых документов. Все земельные активы передаются
                клиентам в собственность с гарантированной абсолютной юридической чистотой сделок, что обеспечивает им
                дополнительный уровень уверенности и защиты.
                <br><br>
                Мы активно работаем на земельном рынке Московской области уже более десяти лет и предлагаем нашим
                клиентам оригинальные объекты недвижимости, обладающие оптимальным соотношением цены и качества. Наш
                коллектив включает в себя опытных профессионалов с многолетним опытом работы в сфере недвижимости
                Подмосковья, что обеспечивает нашим клиентам высокий уровень экспертизы и профессионализма во всех
                аспектах нашей работы.
                <br><br>
                <strong>Продажа земельных активов от собственника</strong><br>
                Весь спектр услуг оказываем от лица владельцев
                <br><br>
                <strong>Большой выбор участков</strong><br>
                Территории рассчитаны на большое количество коттеджных участков, которые готовы к продаже
                <br><br>
                <strong>Юридическая чистота всей документации</strong><br>
                Готовы все необходимые документы на приобретение недвижимости
                <br><br>
                <strong>Низкая стоимость пакета обустройства</strong><br>
                Ценообразование на газ, воду электричество ниже, чем на столичном рынке недвижимости
            </p>
        </div>
    </div>
</div>
{% endblock %}