{% extends 'houses/base.html' %}
{% load static %}

{% block title %}Список поселков{% endblock %}

{% block content %}
    <div class="row">
        {% for village in villages %}
        <div class="col-md-6 mb-4">
            <a href="{% url 'village-detail' village.pk %}" class="card clickable-card" style="
                    background-image: url('{{ village.preview_image.url }}');
                    background-size: cover;
                    background-position: center;
                    height: 400px;
                    color: white;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    transition: none !important;
                    transform: none !important;
                ">
                    <div style="background: rgba(0, 0, 0, 0.5); padding: 1rem;">
                        <h5 class="card-title">{{ village.name }}</h5>
                        <p class="card-text">от {{ village.price }} руб./сотка </p>
                        <p class="card-text">{{ village.distance_mkad }} км от МКАД</p>
                    </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}